@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="checkbox"],
input[type="radio"],
input[type="file"],
select,
textarea {
  @apply block w-full border border-[#ADADAD] px-4 py-2 outline-none placeholder:font-sans
  placeholder:text-sm placeholder:font-light placeholder:text-[#888888] focus:ring-0;
}

label {
  @apply block font-sans text-sm font-semibold text-[#363636];
}

ion-icon {
  font-size: 16px;
  color: #ffffff;
}

.scrolled-link-color {
  color: #ffffff;
}
